nav {
  background: #808000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.topbarToggler > svg,
.topbarCart > svg {
  color: #fff !important;
  font-size: 2rem !important;
}

.topbarToggler {
  display: none;
}

.topbarLogo {
  display: flex;
}
.topbarLogo > img {
  height: 40px;
  margin: 0 10px;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  width: 100%;
}
nav li {
  list-style: none;
}
nav li > a {
  font-family: Oswald;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}

nav li > a:hover,
nav li > a.active {
  color: #fff075;
  border-bottom: 3px solid #fff075;
}

.topbarShortcut {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.topbarCart {
  width: 100%;
  height: 25px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  margin-right: 10px;
  border-right: 2px solid #e1e1e1;
  text-decoration: none;
  position: relative;
}
.topbarCart span {
  position: absolute;
  top: -10px;
  left: 20px;
  background: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-family: Nunito Sans;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  nav ul {
    padding: 0 20%;
  }
}

@media screen and (max-width: 768px) {
  .topbarToggler {
    display: block;
  }

  .topbarLogo > img {
    height: 30px;
    margin: 0 5px;
  }

  nav > ul {
    position: absolute;
    left: 0;
    top: 60px;
    background: #b9b93c;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }

  nav li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav > ul.active {
    transform: translateX(0);
  }
}
