.updatePasswordPage {
  margin: auto;
  height: calc(100vmin - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(128, 128, 0, 0.2) 12.4%,
    rgba(128, 128, 0, 0) 100%
  );
}

.updatePasswordForm {
  width: 30%;
}
