.profilePage {
  background: linear-gradient(
    180deg,
    rgba(128, 128, 0, 0.2) 12.4%,
    rgba(128, 128, 0, 0) 100%
  );
}

.profileForm {
  padding: 2% 5%;
}
.profileForm > h1 {
  font-family: Oswald;
  font-size: 2rem;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #1a1a1a;
}
.profileForm > p {
  font-family: Nunito Sans;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #1a1a1a;
}

.profileDetail {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.profileDetail > div {
  margin: 0 1rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 8px 33px rgba(0, 0, 0, 0.05), 0px 5px 16px rgba(0, 0, 0, 0.035);
  border-radius: 5px;
  border-bottom: 3px solid #808000;
}

.profileDetail > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDetail > div:first-child > img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.profileDetail > div > h1 {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #1a1a1a;
}
.profileDetail > div > h2 {
  font-family: Nunito Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.04em;
  color: #1a1a1a;
}

.profileDetail > div:nth-child(2) > div {
  display: flex;
}

.profileDetail > div:nth-child(2) > div > div:nth-child(2) {
  margin-left: 0.5rem;
}
.profileDetail > div:nth-child(2) > div:last-child > div {
  width: 100%;
}

.profileBtnContainer {
  display: flex;
  justify-content: center;
}

.profileBtn {
  text-decoration: none;
  border: none;
  background: #808000;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: all 0.5s;
  border-radius: 5px;
  outline: none;
  border: 1px solid #808000;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
}
a.profileBtn {
  color: #808000;
  background: none;
  font-family: Raleway;
}

.profileBtn:hover {
  color: #808000;
  background: none;
}
a.profileBtn:hover {
  background: #808000;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .profileDetail {
    flex-direction: column;
  }
  .profileDetail > div {
    margin: 1rem 0;
  }

  .profileDetail > div:nth-child(2) > div {
    flex-direction: column;
  }
  .profileDetail > div:nth-child(2) > div > .authFormInput {
    margin: 0 !important;
  }
}
