.authPage {
  width: 100vw;
  max-width: 100%;
  display: flex;
}

.authContainer {
  flex: 1;
  background: linear-gradient(
    180deg,
    rgba(128, 128, 0, 0.2) 12.4%,
    rgba(128, 128, 0, 0) 100%
  );
  overflow-y: scroll;
  height: 100vh;
}

.authCTA {
  padding: 1rem 5rem;
  text-align: right;
}
.authCTA > p {
  font-family: Nunito Sans;
  letter-spacing: 0.04em;
  color: #636363;
}
.authCTA a {
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #808000;
}

.authBox {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.authBox > h1 {
  font-family: Oswald;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.authBox > p {
  font-family: Nunito Sans;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  color: #636363;
}

.authForm {
  margin: 1rem 0;
}
.authFormInput {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.authFormInput > label {
  font-family: Nunito Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.04em;
  color: #1a1a1a;
}
.authFormInput > input {
  font-family: Nunito Sans;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  color: #1a1a1a;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 1rem;
  background: none;
  overflow: hidden;
}
.authFormInput > input::placeholder,
.authFormInput > input::-ms-input-placeholder {
  color: #acacac;
}

.registerPassword {
  display: flex;
}
.registerPassword > div {
  flex: 1;
}
.registerPassword > div:first-child {
  margin-right: 10px;
}
.registerPassword > div:last-child {
  margin-left: 10px;
}

#submitBtn {
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: none;
  color: #808000;
  border: 1px solid #808000;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
#submitBtn:hover,
#submitBtn:active {
  color: #ffffff;
  background: #808000;
}

@media screen and (max-width: 1450px) {
  .registerPassword {
    flex-direction: column;
  }
  .registerPassword > div:first-child {
    margin-right: 0;
  }
  .registerPassword > div:last-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .registerPassword {
    flex-direction: row;
  }
  .registerPassword > div:first-child {
    margin-right: 10px;
  }
  .registerPassword > div:last-child {
    margin-left: 10px;
  }
}
